* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #14120b; /* global scope */
  --text-color: #edecec;
}

body {
  font-family:
    CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  background-color: var(--primary-bg-color);
}

.container {
  width: 100%;
  /* margin: 0px auto; */
  /* border: 1px solid red; */
}

main{
  width: 97%;
  margin: 0px auto;

}

/* navbar start */
nav {
  position: fixed;
  top: 0;
  background-color: var(--primary-bg-color);
  width: 97%;
  z-index: 3;
}
.nav-container {
  margin: 9px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container span {
  color: var(--text-color);
  font-weight: 500;
  line-height: 20px;
}
.logo-container img {
  width: 32px;
}
.menu-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-container ul li {
  list-style-type: none;
  padding: 5.6px 15px;
  font-size: 15px;
}

.menu-container ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 15px;
  
}

.login-container a.signin-btn {
  border:0.2px solid rgba(237, 236, 236, 0.2);
  background: none;
  color: var(--text-color);
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 15px;
  text-align: center;
  margin-right: 7px;
}

.login-container a.download-btn {
  border: 1px solid var(--text-color);
  /* background:none; */
  color: var(--primary-bg-color);
  background-color: var(--text-color);
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 15px;
  text-align: center;
  font-weight: 400;
}

/* navbar end  */

/* hero-section start  */

.hero-container .heading-container {
  height: 220px;
}

.hero-container .heading-container h1 {
  color: var(--text-color);
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  margin-top: 120px;
  margin-bottom: 30px;
  width: 520px;
}

.hero-container .heading-container span {
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  border-radius: 25px;
  text-align: center;
  padding: 12px 24px;
}

.hero-container .heading-container span a {
  font-weight: 400;
  text-decoration: none;
  color: var(--primary-bg-color);
  font-size: 16px;
  font-weight: 400;
}

.hero-container .heading-container span img {
  width: 20px;
  height: 15px;
}

/* 
.hero-container .image-container{
    position: relative;
    
}

.hero-container .image-container .img{
    position:absolute;
    width:100%
}

.hero-container .image-container .hero-bg-img{
    width: 100%;
    height: 600px;
    border-radius:3px;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-container .image-container .cursor-img{
    
    border-radius:3px;
    z-index: 1;
    top: 40px;
    left: 40px;
    z-index: 2; 
    
} */

.hero-container .image-container {
  position: relative;
  height: 600px;
}

.hero-container .image-container .img {
  position: absolute;
}

.hero-container .image-container .hero-bg-img {
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 3px;
}

.hero-container .image-container .cursor-img {
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 3px;
}

/* hero css end  */

.trusted_logos {
  /* border: 1px solid red; */
  /* height:200px; */
  margin: 50px 0px;
}

.trusted_logos p {
  margin: 20px;
  text-align: center;
  color: var(--text-color);
  font-size: 14px;
}

.trusted_logos .logos-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid blue; */
  align-items: center;
}

.trusted_logos .logos-container .log-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 90px;
  margin: auto 6px;
  background-color: #1b1913;
  padding: 0px 7.5px;
}

.trusted_logos .logos-container .log-box img {
  width: 75px;
  /* padding: 0px 0.; */
}

/* trusted logos section close  */

/* featured sectin start  */

.featured {
  /* border: 1px solid red; */
  background-color: #1d1b15;
  width: 97%;
  margin: 100px auto;
  padding: 15px 19px;
  border-radius: 3px;
}

.featured .featured-one-containder {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.featured .featured-one-containder .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.featured .featured-one-containder .content-container .content .first-para {
  font-size: 22px;
  color: var(--text-color);
  font-weight: 500;
}

.featured .featured-one-containder .content-container .content .second-para {
  font-size: 22px;
  color: #9a9996;
  font-weight: 500;
  margin-bottom: 20px;
}
.featured .featured-one-containder .content-container .content a {
  text-decoration: none;
  color: #f54e00;
  font-size: 17px;
}
.featured .featured-one-containder .image-container {
  position: relative;
  /* border: 1px solid yellow; */
  /* width: 800px; */
  height: 640px;
}

.featured .featured-one-containder .image-container .img {
  position: absolute;
}

.featured .featured-one-containder .image-container .img-1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
}

.featured .featured-one-containder .image-container .img-2 {
  z-index: 2;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* first featured css end */

/* second featured css  */

.featured2 {
  /* border: 1px solid red; */
  background-color: #1d1b15;
  width: 97%;
  margin: 100px auto;
  padding: 15px 19px;
  border-radius: 3px;
}

.featured2 .featured-second-containder {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.featured2 .featured-second-containder .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.featured2 .featured-second-containder .content-container .content .first-para {
  font-size: 22px;
  color: var(--text-color);
  font-weight: 500;
}

.featured2
  .featured-second-containder
  .content-container
  .content
  .second-para {
  font-size: 22px;
  color: #9a9996;
  font-weight: 500;
  margin-bottom: 20px;
}
.featured2 .featured-second-containder .content-container .content a {
  text-decoration: none;
  color: #f54e00;
  font-size: 17px;
}
.featured2 .featured-second-containder .image-container {
  position: relative;
  /* border: 1px solid yellow; */
  /* width: 800px; */
  height: 640px;
}

.featured2 .featured-second-containder .image-container .img {
  position: absolute;
}

.featured2 .featured-second-containder .image-container .img-1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
}

.featured2 .featured-second-containder .image-container .img-2 {
  z-index: 2;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* featured section end  */

.testimonials {
  margin-top: 30px;
}
.testimonials .heading {
  text-align: center;
  color: var(--text-color);
  font-size: 36px;
  margin: 50px 0px;
  font-weight: 400;
}
.testimonials .testimonial-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 1px solid red; */
  gap: 10px;
}
.testimonials .testimonial-container .testimonial-card {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background-color: #1d1b15;
}

.testimonials .testimonial-container .testimonial-card .content {
  /* position: relative;
top: 0; */
  height: 100px;
  color: var(--text-color);
  margin-bottom: 70px;
  line-height: 22px;
}

.testimonials .testimonial-container .testimonial-card .bottom-text {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 13px;
  color: var(--text-color);
}

.testimonials
  .testimonial-container
  .testimonial-card
  .bottom-text
  .content-container
  .designation {
  color: #9a9996;
}
.testimonials
  .testimonial-container
  .testimonial-card
  .bottom-text
  .img-container
  img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

/* testimonial section end  */

/* usecases css start  */

.usecases {
  margin: 100px 0px;
  /* border: 1px solid red; */
}

.usecases .heading {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.usecases .usecases-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.usecases .usecases-container .card {
  padding: 10px 15px;
  background-color: #1d1b15;
}

.usecases .usecases-container .card .content-container {
  /* border: 1px solid red; */
  width: 400px;
}

.usecases .usecases-container .card .content-container .first-line {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.usecases .usecases-container .card .content-container .second-line {
  font-size: 16px;
  color: #9a9996;
  font-weight: 500;
  margin-bottom: 12px;
}

.usecases .usecases-container .card .content-container .explore {
  text-decoration: none;
  color: #f54e00;
  font-size: 17px;
  font-weight: 500;
  margin: 15px 0px;
}

.usecases .usecases-container .card .image-container {
  margin-top: 15px;
}

.usecases .usecases-container .card .image-container img {
  width: 100%;
}

/* usecased css end  */

/* changlog css start  */

.changelog {
  /* border: 1px solid red; */
}

.changelog .heading {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.changelog .heading {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.changelog .changelog-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.changelog .changelog-cards-container .cards {
  background-color: #1d1b15;
  padding: 12px 13px;
}

.changelog .changelog-cards-container .cards .first-para {
  font-size: 16px;
  color: #9a9996;
  margin-bottom: 10px;
  font-weight: 400;
}

.changelog .changelog-cards-container .cards .first-para #first-span {
  border: 1px solid #9a9996;
  color: #9a9996;
  padding: 2px 9px;
  border-radius: 12px;
  margin-right: 8px;
}

.changelog .changelog-cards-container .cards .second-para {
  color: var(--text-color);
  width: 270px;
  font-weight: 400;
}

.changelog .explorer {
  
  color: #f54e00;
  font-size: 17px;
  font-weight: 500;
  margin: 15px 0px;
}

/* changelog section end  */

.text-section {
  margin-top: 100px;
}

.text-section p {
  font-size: 36px;
  width: 550px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 40px;
  margin-bottom: 35px;
}

.text-section a {
  border: 1px solid var(--text-color);
  color: var(--primary-bg-color);
  background-color: var(--text-color);
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: 450;
}

/* text section css end  */

/* image section css start  */

.image-section {
  /* border: 1px solid red; */
  margin-top: 100px;
}

.image-section .image-container {
  border: 1px sold blue;
  width: 100%;
}

.image-section .image-container img {
  border: 1px sold rgb(247, 16, 143);
  width: 100%;
  border-radius: 5px;
}

/* image sectoin css end  */


/* highlight section css start */

.highlights{
  background-color: #1B1913;
  padding: 10px 0px;
  margin-top:120px;
}

.highlights .highlight-container{
  display: grid;
  grid-template-columns: 360px 650px;
  margin: 40px 20px;
}

.highlight-container .columns .heading{
  color: var(--text-color);
  padding: 5px 8px;
  margin: 10px 0px;
}

.highlights .highlight-container div {
padding: 5px 8px;
margin: 10px 0px;
border-radius: 5px;
}

.highlights .highlight-container .column-2 .first-div {
/* border: 1px solid rgb(10, 248, 101); */
width: 560px;
}

.highlights .highlight-container .column-2 div {
background-color: #26241E;
}

.highlights .highlight-container .column-2 .explorer {

text-decoration: none;
  color: #f54e00;
  font-size: 17px;
  font-weight: 500;

}

.highlights .highlight-container div .first-p{
color: #EDECEC;
}

.highlights .highlight-container div .second-p{
color: #9a9996;
margin-bottom: 20px;
}
.highlights .highlight-container div .third-p{
color: #9a9996;
}

/* highlight section css end  */

/* cursor section start  */
.cursor-section {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor-section .cursor-container{
  text-align: center;
}

.cursor-section .cursor-container .heading {
  font-size: 72px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.cursor-section .cursor-container .btn {
  text-align: center;
  background-color: var(--text-color);
  padding: 10px 20px;
  border-radius: 20px;
  
}

.cursor-section .cursor-container span a {
  text-decoration: none;
  color: var(--primary-bg-color);
}


.cursor-section .cursor-container span img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
}

/* cursor section css end  */

/* footer section css start */

footer{
  width: 100%;
}
.footersection{
  padding: 0px 8px;
  padding-top:40px;
  padding-bottom:15px;
  background-color: #1d1b15;
/* border: 1px solid red; */
}
.footersection .footer-container{
  margin: 0px auto;
  margin-top: 30px;
  width: 98%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
}

.footersection .footer-container .columns span{
  color: #9a9996;
}

.footersection .footer-container .columns ul li{
  list-style-type: none;
  margin: 12px 0;
}

.footersection .footer-container .columns ul li a{
  text-decoration: none;
  color: var(--text-color);
font-size: 14px;
}

.footersection .footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: 0px auto;
  margin-top: 60px;
  /* margin-bottom: 10px; */
}

.footersection .footer-bottom .first-div{
  /* border: 1px solid red; */
  color:#9a9996;
  font-weight: 500;
  font-size: 14px;
}

.footersection .footer-bottom .first-div span{
margin-right: 10px;
}

.footersection .footer-bottom .second-div{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}


.footersection .footer-bottom .second-div .first-p{
/* border: 1px solid red; */
color: var(--text-color);
padding: 4px 0px;
border-radius: 15px;
background-color: #26241E;
}

.footersection .footer-bottom .second-div .first-p #one{
background-color: #3A3833;
border-radius: 40%;
}
.footersection .footer-bottom .second-div .first-p span{
/* border: 1px solid red; */
padding: 1.4px 10px;
}

.footersection .footer-bottom .second-div .second-p {
/* border: 1px solid red; */
color: var(--text-color);
background-color: #26241E;
border-radius: 15px;
padding: 4px 10px;
margin-left: 10px;

}